@import './variables.scss';

.appContainer {
  display: flex;
  justify-content: center;
  padding: 25px;
  height: auto;
  width: auto;
}

.dashboard {
  background-color: $white;
  border: 1px solid $black;
  width: 100%;
  margin: 0;

  @media only screen and (min-width: 600px) {
    margin: 0 25px;
  }
  @media only screen and (min-width: 768px) {
    margin: 0 50px;
  }
}

.dashboardHeader {
  border-bottom: 1px solid $black;
  font-size: 2.4rem;
  padding: 10px 25px;
}

.dashboardContent {
  @media only screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: minmax(150px, 25%) 1fr;
  }
}

.users {
  border-right: 1px solid $black;
}

.userList {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}

.userListItem {
  cursor: pointer;
  font-size: 1.8rem;
  padding: 8px 4px;

  &:hover {
    border: 1px solid $grayWeb;
    background-color: $lightGray;
  }
}

.addUserForm {
  display: flex;
  padding: 10px 5px;
  width: auto;
  input {
    width: 100%;
  }
  button {
    margin-left: 10px;
  }
}

.details {
  background-color: $lightGray;
  padding: 0 5px;
}